@{
    ViewBag.Title = "Index";
}

<div class="row">
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">Chart</div>
			<app-chart-example1></app-chart-example1>
		</div>
	</div>
	<div class="col-md-6">
		<div class="card">
			<div class="card-header">Chart</div>
			<app-chart-example1></app-chart-example1>
		</div>
	</div>
</div>